*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(17, 17, 17);
    overflow: hidden;
}

.woods_video {
    /* position: fixed;
    right: 0;
  bottom: 0; */
    min-width: 100%;
    min-height: 100%;

}

.container {
    position: fixed;
    width: 800px;
    max-width: 40%;
    color: #F5F4E9;
    background: rgb(17, 17, 17);
    padding: 3rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem, 1.6rem;
    display: flex;
    flex-direction: column;
}

.answer_style {
    background: rgb(17, 17, 17);
    color: whitesmoke;
}

.answer {
    padding: 0.5rem 6rem 0.5rem 0.3rem;
    outline: none;
    border: solid #6a63dd;
    background: rgb(66, 34, 212);
    color: #F5F4E9;
    font-size: 1rem;
}

.answer_error {
    border: solid rgb(230, 73, 0);
}

@media screen and (max-width: 800px) {
    .container {
        max-width: 70%;
        display: flex;
        flex-direction: column;
    }

    body {
        background: url("bilder/zombie_hands.jpg") no-repeat;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .woods_video {
        display: none;
    }
}