*, *::before, *::after {
    box-sizing:border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background: rgb(17, 17, 17); 
} 

.woods_video{
    width: 100%;
}
.container {
    position: fixed;
    width: 800px;
    max-width:80%;
    background: #F5F4E9;
    padding: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem, 1.6rem;
}

.answer_style{
    background: #333;
    color: whitesmoke;
}

.answer{
    padding: 0.5rem 6rem 0.5rem 0.3rem;
    outline: none;
    border:solid #6a63dd;
    color: rgb(66, 34, 212);
   
}
.answer_error{
    border:solid  rgb(230, 73, 0);
}